#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.banner {
  width: 100%;
  height: 300px;        /* altura del banner */
  overflow: hidden;    /* recorta lo que sobra */
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* rellena sin deformar */
}